<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block meta_title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bulmaswatch.min.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='lib/autoComplete/auto-complete.css') }}" />
</head>

<body id="{{body_class_name}}" class="is-size-5">
    <header class="">
            <nav class="navbar is-dark topnav container">
                <div class="navbar-brand">
                    <a href="{{ url_for('main.index') }}" class="navbar-item">
                        <img src="{{ url_for('static', filename='images/amsterdam.png') }}" />
                    </a>
                </div>

                    <div class="navbar-menu">
                        <div class="navbar-start">
                            {% for i in menu %}
                          <a class="navbar-item" href="{{ i.url }}">{{ i.text }}</a>
                            {% endfor %}
                        </div>
                        <div class="navbar-end">
                            {% if current_user.is_authenticated %}
                            <a href="{{ url_for('main.profile') }}" class="navbar-item">
                                Profile
                            </a>
                            {% endif %}
                            {% if not current_user.is_authenticated %}
                            <a href="{{ url_for('auth.login') }}" class="navbar-item">
                                Login
                            </a>
                            {% endif %}
                            {% if current_user.is_authenticated %}
                            <a href="{{ url_for('auth.logout') }}" class="navbar-item">
                                Logout
                            </a>
                            {% endif %}
                        </div>
                    </div>
            </nav>
     </header>
    <main class="section main">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="notification is-primary">
                <ul class=flashes>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
                </ul>
            </div>
        {% endif %}
    {% endwith %}
    <div class="container content">
              {% block content %}
              {% endblock %}
    </div>
    </main>
    <footer class="footer section">
    <div class="content has-text-centered">
    </div>
    </footer>

    <script src="{{ url_for('static', filename='lib/autoComplete/auto-complete.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>
