{% extends "base.html" %}
<div class="hero-body">
    <div class="container has-text-centered">

{% block content %}

        <section class="hero is-medium is-bold">
          <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    Amsterdamplanner
                </h1>
                <h2 class="subtitle">
                    {{_('Amsterdam guide')}}          
                </h2>
                    
                    <div class="box">
                    
                        <form id="home_search" method="GET" action="{{ url_for('search.request_query') }}">


                            <div class="field has-addons">
                              <div class="control is-expanded">
                                <input id="autoComplete" name="q" class="input is-large is-fullwidth" type="text" placeholder="{{_('Find Amsterdam locations')}}">
                              </div>
                              <div class="control">
                                <a class="button is-info is-large clickme" data-handler="home_search_submit">
                                  {{_('Search')}}
                                </a>
                              </div>
                            </div>


                        </form>
                    </div>
                    <nav id="block-mainnavigation-2">
                        <div class="menu menu--main nav navbar-nav">
                            <div class="first">
                                <a href="/going-out-amsterdam" title=" Amsterdam going out guide" data-drupal-link-system-path="node/2">Go out</a>
                            </div>
                            <div>
                                <a href="/museums/museum" title="Amsterdam museum guide" data-drupal-link-system-path="node/8">Museums</a>
                            </div>
                            <div>
                                <a href="/shopping/market%2Bshop%2Bshopping">Shopping</a>
                            </div>
                            <div class="last">
                                <a href="/neighbourhoods/area" data-drupal-link-system-path="node/49">Neighbourhoods</a>
                            </div>
                        </div>
                    </nav>

            </div>



            </div>
          </div>
        </section>
{% endblock %}
    </div>
</div>
