<nav class="pagination" role="navigation" aria-label="pagination">
  {% if page > 1 %}
  <a class="pagination-previous" href="{{ current_url |replace('&page='~page,'') }}&page={{page-1}}">{{_('Previous page') }}</a>
  {% endif %}
  {% if pages > 1 and page < pages %}
  <a class="pagination-next" href="{{ current_url |replace('&page='~page,'') }}&page={{page+1}}">{{_('Next page') }}</a>
  {% endif %}
  {% if pages > 1 %}
  <ul class="pagination-list">
    {% for n in range(1,pages+1) %}
        {% if ( (pages <= 5) 
                    or (n == 1) or (n == page) or (n == page+1) or (n == page-1) 
                        or (n==pages) or (page==1 and n==3) or (page==pages and n==pages-2) )  %}

            {% if ((pages > 5) 
                        and (n ==pages and page !=pages-2 and page !=pages-1 and page !=pages)) %}
                <li>
                  <span class="pagination-ellipsis">…</span>
                </li>
            {% endif %}

            <li>
                <a class="pagination-link{% if page == n%} is-current{% endif %}"  href="{{ current_url |replace('&page='~page,'') }}&page={{n}}" aria-label="Goto page {{n}}">{{n}}</a>
            </li>
            {% if ((pages > 5 ) 
                        and (n !=pages and n!=page and n!=page-1 and n!=page-2 and n!=page+1 and (n!=page+2))) %}
                <li>
                  <span class="pagination-ellipsis">…</span>
                </li>
            {% endif %}
        {% endif %}
    {% endfor %}

  </ul>
  {% endif %}
</nav>
