{% extends "base.html" %}

{% block meta_title %} {{_("Search")}}: "{{q}}" {% endblock %}

{% block content %}
<h1 class="title is-1">
  {{_("Search")}}: "{{q}}"
</h1>


<div class="result-summary">
   {{result.response.numFound}}  {{_("results")}} 
   {% if result.response.numFound > config.ROWS_PER_PAGE %}
    - showing: {{start+1}} - {{[start + config.ROWS_PER_PAGE, result.response.numFound ] | min}}
   {% endif %}
</div>
{% include 'pagination.html' %}

<div class="columns">
    <div class="filters column is-one-quarter hide">
        <div class="activeFilters"></div>
    {% for key,value in result.facets.items() %}
        {% if key != 'count' %}
        <div class="facet">
            <h4>{{key}}</h4>
            <ul class="facet-list">
            {% for bucket in value.buckets %}
                <li class="facet-list-item" data-filtervalue='{{key}}:"{{bucket.val}}"'>
                    <a class="filterquery" data-handler="filter_query" data-filter='{{key}}:"{{bucket.val}}"' href="#">{{bucket.val}} ({{bucket.count}})</a></li>
            {% endfor %}
        </div>
        {% endif %}
    {% endfor %}        
    </div>
    <div class="results">
{% for doc in result.response.docs  %}
        <div class="result">
        <a href="{{url_for('item.item_view', alias=doc.alias|replace("/",""),_external=True )}}" class="is-size-6 has-text-grey-light">{{url_for('item.item_view', alias=doc.alias|replace("/",""),_external=True )}}</a>
            <div><a href="{{url_for('item.item_view', alias=doc.alias|replace("/","") )}}"><strong class="is-size-3" >{{doc.title}}</strong>
            {% for a in doc.addresses %}
               <span class="is-size-5">- {{a}}</span>
            {% endfor %}
            </a></div>
            <div>
                {{doc.body | striptags | truncate (200)}}              
            </div>
        </div>
{% endfor %}
    </div>
</div>

{% include 'pagination.html' %}

{% endblock %}
