{% extends "base.html" %}

{% block content %}
    <form action="{{ url_for('item.upload_file') }}" method="post" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
            {{ form.file.label }}<br>
            {{ form.file(class_="input is-medium") }}
        <p>{{ form.submit(class_="button is-large") }}</p>
    </form>

    <div>
        <a href="{{url_for('item.upload_directory_view')}}">ALL</a>
    </div>
    {% if files|length %}
        <ul>
            {% for file in files %}
            <li>    <a href="{{url_for('item.upload_view', subdir=dirname, filename=file)}}">{{file}}</a></li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}
