{% extends "base.html" %}

{% block content %}

    <form action="" method="post" novalidate>
  {{ form.hidden_tag() }}

{% for field, errors in form.errors.items() %}
<div class="notification is-danger">
    {{ form[field].label }}: {{ ', '.join(errors) }}
</div>
{% endfor %}


        <div class="field">
            {{ form.alias.label }}
            <div class="control">
            {{ form.alias(class_="input is-medium") }}
            </div>
        </div>
        <div class="field">
            <div class="">
                {{ form.lang.label }}
            </div>
            <div class="select">
                {{ form.lang(class_="") }}
            </div>
        </div>           
         
        <div class="field is-horizontal">
            <div class="field is-horizontal">
                 <div class="field-label is-normal">
                    {{ form.types.label }}
                 </div>
                 <div class="field-body">
                    <div class="select is-multiple">
                    {{ form.types(class_="") }}
                    </div>
                </div>
           </div>           
           <div class="field is-horizontal">
                <div class="field-label is-normal">
                    {{ form.cities.label }}
                </div>

                <div class="field-body">
                    <div class="select is-multiple">
                    {{ form.cities(class_="") }}
                    </div>
                </div>
           </div>
           <div class="field is-horizontal">
                <div class="field-label is-normal">
                    {{ form.addresses.label }}
                </div>

                <div class="field-body">
                    <div class="select is-multiple">
                    {{ form.addresses(class_="") }}
                    </div>
                </div>
           </div>

        </div>

        <div class="field">
            {{ form.title.label }}
            <div class="control">
            {{ form.title(class_="input is-medium") }}
            </div>
        </div>
        <div class="field">
            {{ form.image.label }}
            <div class="control">
            {{ form.image(class_="input is-medium") }}
            </div>
        </div>
        <div class="field">
            <div class="control">
                <a href="{{url_for('item.upload_directory_view')}}" class="button is-link" target="_blank">up</a>
            </div>
        </div>
     
        <div class="field">
            {{ form.body.label }}<br>
            <div class="control">
         
            {{ form.body(class_="textarea", rows="20") }}
            </div>
        </div>
        <p>{{ form.submit(class_="button is-large") }}</p>
    </form>
{% endblock %}
