{% extends "base.html" %}

{% block meta_title %} {{item.title}} {% endblock %}


{% block content %}
<h1 class="title is-1">
    {{item.title}}
</h1>
<img src="{{img_server + item.image}}" alt="{{item.title}}">
<div class="box">
{{item.body|safe}}
</div>
{% endblock %}
