{% extends "base.html" %}

{% block meta_title %} {{title}} {% endblock %}

{% block content %}
<h1 class="title is-1">
    {{title}}
</h1>
{% for item in items %}

<li><img src="{{item.image}}" alt="{{item.title}}" /><span> {{item.title}}</span></li>
{% endfor%}
{% endblock %}
