{% extends "base.html" %}

{% block content %}
<a href="{{url_for('item.uploadform')}}" class="button">{{_('uploadform')}}</a>

    {% if not dirname %}
        <ul>
        {% for dir in files %}
          <li>  <a href="{{url_for('item.upload_directory_view',dirname=dir)}}">{{dir}}</a></li>
        {% endfor %}
        </ul>
    {% else %}
        <ul>
            {% for file in files %}
            <li>    <a href="{{url_for('item.upload_view', subdir=dirname, filename=file)}}">{{file}}</a></li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}
