{% extends "base.html" %}
    <div class="hero-body">
            <div class="container has-text-centered">
 

{% block content %}
<h1 class="title">
  Welcome, {{name}}
</h1>
{% endblock %}

        </div>
        </div>

