.nodisplay{
    display:none;
}

.hide{
    opacity:0;
}

.show{
  transition: opacity 400ms;
}

.main{
    min-height:100vh;
}

.navbar-item img{
    max-height:3em;
}

#block-mainnavigation-2 .navbar-nav div:nth-child(1){
  background-image:url('/sites/default/files/styles/large/public/2017-06/LeidsepleinAmsterdam.jpg');
}

#block-mainnavigation-2 .navbar-nav div:nth-child(2){
  background-image:url('/sites/default/files/styles/large/public/2016-12/-Rembrandshuis.jpg');
}

#block-mainnavigation-2 .navbar-nav div:nth-child(3){
  background-image:url('/sites/default/files/styles/large/public/2017-07/Waterlooplein14.JPG');
}

#block-mainnavigation-2 .navbar-nav div:nth-child(4){
  background-image:url('/sites/default/files/styles/large/public/2017-08/javastraat.JPG');
}

#block-mainnavigation-2 .navbar-nav div{
  width:23%;
  height:16rem;
  margin-right:2%;
  display:inline-block;
  background-color:#000;
  text-align:center;
  overflow:hidden;
}

#block-mainnavigation-2 .navbar-nav div a{
  transition: background-color 0.5s ease;
  position:relative;
  display:block;
  font-weight:bold;
  padding:0px;
  line-height:16rem; 
  color:white;
  font-size:2.2rem;
  text-shadow: -1px 1px 4px #3a50d9, 
               -2px 2px 6px #000,
               2px 2px 8px #0a0e27;

}

/*search results*/
.activeFilters > div{
    margin-bottom:4px;
    cursor:pointer;
}
.activeFilters > div:hover {
    opacity:0.8;

    transition: opacity 400ms;
}

.content ul.pagination-list {
    margin-left:0px;
}
nav ul.pagination-list li{
    list-style:none;
    margin-top:0px;
}
.results .result{
    margin-bottom:2rem;
}
